{
  "openapi": "3.0.1",
  "info": {
    "title": "Jarvi API",
    "description": "An API to help you read and manage your projects, profiles, and more.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://functions.prod.jarvi.tech/v1/api"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "summary": "Get Projects",
        "description": "***\nThe GraphQl query for this endpoint is:\n``` graphql\nquery GetProjects($where: projects_bool_exp! = {}, $orderBy: [projects_order_by!] = []) {\n  projects(where: $where, order_by: $orderBy) {\n    id\n    name\n    userId\n    linkedinId\n    createdAt\n    updatedAt\n    deletedAt\n    colorId\n    presetId\n    isMadeForRecruitment\n    isMadeForSales\n    groupId\n    group {\n      id\n      name\n    }\n    user {\n      displayName\n      email\n      id\n      disabled\n    }\n    assignees(where: {deletedAt: {_is_null: true}, user: {disabled: {_eq: false}}}) {\n      user {\n        displayName\n        email\n        id\n      }\n    }\n    linkedinContractId\n    statusId\n    ignoreHistoryBeforeProjectCreatedAt\n    companyId\n    externalId\n    referenceId\n    linkedinIdType\n    files(order_by: {createdAt: asc}, where: {deletedAt: {_is_null: true}}) {\n      fileId\n      createdAt\n      updatedAt\n      file {\n        id\n        name\n        size\n        mimeType\n      }\n    }\n    status {\n      title\n      color {\n        id\n        name\n      }\n      isAuto\n      id\n    }\n    company {\n      id\n      description\n      companyPublicData {\n        id\n        name\n        tagline\n        description\n        foundedAt\n        linkedinEmployeeCount\n        linkedinEmployeeStartCount\n        linkedinEmployeeEndCount\n        linkedinUrl\n        website\n        image {\n          publicUrl\n        }\n      }\n    }\n    fieldsValues {\n      id\n      field {\n        id\n        type\n        name\n        purpose\n      }\n      fieldValue {\n        id\n        name\n        technicalValue\n      }\n      location {\n        id\n        search\n        locality\n        postalCode\n        administrativeAreaLevel2\n        administrativeAreaLevel1\n        countryName\n        countryShortName\n        formattedAddress\n      }\n      value\n    }\n    color {\n      id\n      name\n    }\n    jobBoardsOffers {\n      id\n    }\n    projectJobBoards(where: {deletedAt: {_is_null: true}}) {\n      id\n      createdAt\n      updatedAt\n      deletedAt\n      enabledAt\n      projectId\n      jobBoard {\n        id\n        canonicalName\n      }\n    }\n    profilesCountPerStatusGroup(where: {status: {id: {_is_null: false}}}, order_by: {status: {order: asc}}) {\n      status {\n        id\n        title\n        isHidden\n        isAuto\n        order\n        parentId\n        color {\n          id\n          name\n        }\n      }\n      count\n    }\n    __typename\n  }\n}\n```",
        "parameters": [
          {
            "description": "Your x-hasura-admin-secret will be used for authentication of the API request.",
            "in": "header",
            "name": "x-hasura-admin-secret",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "orderBy": {
                    "default": [],
                    "items": {
                      "$ref": "#/components/schemas/projects_order_by!"
                    },
                    "nullable": true,
                    "type": "array"
                  },
                  "where": {
                    "default": {},
                    "description": "Boolean expression to filter rows from the table \"projects\". All fields are combined with a logical 'AND'.",
                    "nullable": false,
                    "properties": {
                      "_and": {
                        "items": {
                          "$ref": "#/components/schemas/projects_bool_exp!"
                        },
                        "nullable": true,
                        "type": "array"
                      },
                      "_not": {
                        "$ref": "#/components/schemas/projects_bool_exp"
                      },
                      "_or": {
                        "items": {
                          "$ref": "#/components/schemas/projects_bool_exp!"
                        },
                        "nullable": true,
                        "type": "array"
                      },
                      "assignee": {
                        "$ref": "#/components/schemas/users_bool_exp"
                      },
                      "assignee_user_id": {
                        "$ref": "#/components/schemas/uuid_comparison_exp"
                      },
                      "assignees": {
                        "$ref": "#/components/schemas/projects_assignees_bool_exp"
                      },
                      "assignees_aggregate": {
                        "$ref": "#/components/schemas/projects_assignees_aggregate_bool_exp"
                      },
                      "color": {
                        "$ref": "#/components/schemas/colors_bool_exp"
                      },
                      "colorId": {
                        "$ref": "#/components/schemas/String_comparison_exp"
                      },
                      "company": {
                        "$ref": "#/components/schemas/companies_bool_exp"
                      },
                      "companyId": {
                        "$ref": "#/components/schemas/uuid_comparison_exp"
                      },
                      "createdAt": {
                        "$ref": "#/components/schemas/timestamptz_comparison_exp"
                      },
                      "deletedAt": {
                        "$ref": "#/components/schemas/timestamptz_comparison_exp"
                      },
                      "externalId": {
                        "$ref": "#/components/schemas/String_comparison_exp"
                      },
                      "fieldsValues": {
                        "$ref": "#/components/schemas/projects_fieldsvalues_bool_exp"
                      },
                      "fieldsValues_aggregate": {
                        "$ref": "#/components/schemas/projects_fieldsvalues_aggregate_bool_exp"
                      },
                      "files": {
                        "$ref": "#/components/schemas/projects_files_bool_exp"
                      },
                      "files_aggregate": {
                        "$ref": "#/components/schemas/projects_files_aggregate_bool_exp"
                      },
                      "group": {
                        "$ref": "#/components/schemas/groups_bool_exp"
                      },
                      "groupId": {
                        "$ref": "#/components/schemas/uuid_comparison_exp"
                      },
                      "id": {
                        "$ref": "#/components/schemas/uuid_comparison_exp"
                      },
                      "ignoreHistoryBeforeProjectCreatedAt": {
                        "$ref": "#/components/schemas/Boolean_comparison_exp"
                      },
                      "isMadeForRecruitment": {
                        "$ref": "#/components/schemas/Boolean_comparison_exp"
                      },
                      "isMadeForSales": {
                        "$ref": "#/components/schemas/Boolean_comparison_exp"
                      },
                      "jobBoardsOffers": {
                        "$ref": "#/components/schemas/jobboards_offers_bool_exp"
                      },
                      "jobBoardsOffers_aggregate": {
                        "$ref": "#/components/schemas/jobboards_offers_aggregate_bool_exp"
                      },
                      "linkedinContractId": {
                        "$ref": "#/components/schemas/Int_comparison_exp"
                      },
                      "linkedinId": {
                        "$ref": "#/components/schemas/String_comparison_exp"
                      },
                      "linkedinIdType": {
                        "$ref": "#/components/schemas/projects_linkedin_id_types_enum_comparison_exp"
                      },
                      "metrics": {
                        "$ref": "#/components/schemas/projects_metrics_bool_exp"
                      },
                      "name": {
                        "$ref": "#/components/schemas/String_comparison_exp"
                      },
                      "presetId": {
                        "$ref": "#/components/schemas/uuid_comparison_exp"
                      },
                      "profiles": {
                        "$ref": "#/components/schemas/profiles_associations_bool_exp"
                      },
                      "profilesCountPerStatusGroup": {
                        "$ref": "#/components/schemas/projects_statuses_count_view_bool_exp"
                      },
                      "profilesCountPerStatusGroup_aggregate": {
                        "$ref": "#/components/schemas/projects_statuses_count_view_aggregate_bool_exp"
                      },
                      "profiles_aggregate": {
                        "$ref": "#/components/schemas/profiles_associations_aggregate_bool_exp"
                      },
                      "projectJobBoards": {
                        "$ref": "#/components/schemas/projects_jobboards_bool_exp"
                      },
                      "projectJobBoards_aggregate": {
                        "$ref": "#/components/schemas/projects_jobboards_aggregate_bool_exp"
                      },
                      "publicUrl": {
                        "$ref": "#/components/schemas/String_comparison_exp"
                      },
                      "referenceId": {
                        "$ref": "#/components/schemas/String_comparison_exp"
                      },
                      "searchName": {
                        "$ref": "#/components/schemas/String_comparison_exp"
                      },
                      "shareToken": {
                        "$ref": "#/components/schemas/share_tokens_bool_exp"
                      },
                      "status": {
                        "$ref": "#/components/schemas/statuses_bool_exp"
                      },
                      "statusId": {
                        "$ref": "#/components/schemas/uuid_comparison_exp"
                      },
                      "tasksDoneHistory": {
                        "$ref": "#/components/schemas/tasks_done_history_bool_exp"
                      },
                      "tasksDoneHistory_aggregate": {
                        "$ref": "#/components/schemas/tasks_done_history_aggregate_bool_exp"
                      },
                      "updatedAt": {
                        "$ref": "#/components/schemas/timestamptz_comparison_exp"
                      },
                      "user": {
                        "$ref": "#/components/schemas/users_bool_exp"
                      },
                      "userId": {
                        "$ref": "#/components/schemas/uuid_comparison_exp"
                      },
                      "users": {
                        "$ref": "#/components/schemas/projects_users_bool_exp"
                      },
                      "users_aggregate": {
                        "$ref": "#/components/schemas/projects_users_aggregate_bool_exp"
                      }
                    },
                    "title": "projects_bool_exp",
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Query parameters can also be provided in the request body as a JSON object",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "projects": {
                      "items": {
                        "description": "columns and relationships of \"projects\"",
                        "nullable": false,
                        "properties": {
                          "__typename": {
                            "nullable": false,
                            "title": "String",
                            "type": "string"
                          },
                          "assignees": {
                            "items": {
                              "description": "Users assigned to projects.",
                              "nullable": false,
                              "properties": {
                                "user": {
                                  "description": "User account information. Don't modify its structure as Hasura Auth relies on it to function properly.",
                                  "nullable": false,
                                  "properties": {
                                    "displayName": {
                                      "nullable": false,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "email": {
                                      "$ref": "#/components/schemas/citext"
                                    },
                                    "id": {
                                      "$ref": "#/components/schemas/uuid!"
                                    }
                                  },
                                  "title": "users",
                                  "type": "object"
                                }
                              },
                              "title": "projects_assignees",
                              "type": "object"
                            },
                            "nullable": false,
                            "type": "array"
                          },
                          "color": {
                            "description": "columns and relationships of \"colors\"",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "nullable": false,
                                "title": "String",
                                "type": "string"
                              },
                              "name": {
                                "nullable": true,
                                "title": "String",
                                "type": "string"
                              }
                            },
                            "title": "colors",
                            "type": "object"
                          },
                          "colorId": {
                            "nullable": true,
                            "title": "String",
                            "type": "string"
                          },
                          "company": {
                            "description": "Which users groups have whichcompanies",
                            "nullable": true,
                            "properties": {
                              "companyPublicData": {
                                "description": "columns and relationships of \"companies_publicdata\"",
                                "nullable": false,
                                "properties": {
                                  "description": {
                                    "nullable": true,
                                    "title": "String",
                                    "type": "string"
                                  },
                                  "foundedAt": {
                                    "$ref": "#/components/schemas/timestamptz"
                                  },
                                  "id": {
                                    "$ref": "#/components/schemas/uuid!"
                                  },
                                  "image": {
                                    "description": "columns and relationships of \"images\"",
                                    "nullable": true,
                                    "properties": {
                                      "publicUrl": {
                                        "nullable": true,
                                        "title": "String",
                                        "type": "string"
                                      }
                                    },
                                    "title": "images",
                                    "type": "object"
                                  },
                                  "linkedinEmployeeCount": {
                                    "nullable": true,
                                    "title": "Int",
                                    "type": "integer"
                                  },
                                  "linkedinEmployeeEndCount": {
                                    "nullable": true,
                                    "title": "Int",
                                    "type": "integer"
                                  },
                                  "linkedinEmployeeStartCount": {
                                    "nullable": true,
                                    "title": "Int",
                                    "type": "integer"
                                  },
                                  "linkedinUrl": {
                                    "nullable": true,
                                    "title": "String",
                                    "type": "string"
                                  },
                                  "name": {
                                    "nullable": false,
                                    "title": "String",
                                    "type": "string"
                                  },
                                  "tagline": {
                                    "nullable": true,
                                    "title": "String",
                                    "type": "string"
                                  },
                                  "website": {
                                    "nullable": true,
                                    "title": "String",
                                    "type": "string"
                                  }
                                },
                                "title": "companies_publicdata",
                                "type": "object"
                              },
                              "description": {
                                "nullable": true,
                                "title": "String",
                                "type": "string"
                              },
                              "id": {
                                "$ref": "#/components/schemas/uuid!"
                              }
                            },
                            "title": "companies",
                            "type": "object"
                          },
                          "companyId": {
                            "$ref": "#/components/schemas/uuid"
                          },
                          "createdAt": {
                            "$ref": "#/components/schemas/timestamptz!"
                          },
                          "deletedAt": {
                            "$ref": "#/components/schemas/timestamptz"
                          },
                          "externalId": {
                            "nullable": true,
                            "title": "String",
                            "type": "string"
                          },
                          "fieldsValues": {
                            "items": {
                              "description": "columns and relationships of \"projects_fieldsvalues\"",
                              "nullable": false,
                              "properties": {
                                "field": {
                                  "description": "columns and relationships of \"fields\"",
                                  "nullable": false,
                                  "properties": {
                                    "id": {
                                      "$ref": "#/components/schemas/uuid!"
                                    },
                                    "name": {
                                      "nullable": false,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "purpose": {
                                      "$ref": "#/components/schemas/fields_purposes_enum"
                                    },
                                    "type": {
                                      "$ref": "#/components/schemas/fields_types_enum!"
                                    }
                                  },
                                  "title": "fields",
                                  "type": "object"
                                },
                                "fieldValue": {
                                  "description": "columns and relationships of \"fieldsvalues\"",
                                  "nullable": true,
                                  "properties": {
                                    "id": {
                                      "$ref": "#/components/schemas/uuid!"
                                    },
                                    "name": {
                                      "nullable": false,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "technicalValue": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    }
                                  },
                                  "title": "fieldsvalues",
                                  "type": "object"
                                },
                                "id": {
                                  "$ref": "#/components/schemas/uuid!"
                                },
                                "location": {
                                  "description": "columns and relationships of \"locations\"",
                                  "nullable": true,
                                  "properties": {
                                    "administrativeAreaLevel1": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "administrativeAreaLevel2": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "countryName": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "countryShortName": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "formattedAddress": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "id": {
                                      "$ref": "#/components/schemas/uuid!"
                                    },
                                    "locality": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "postalCode": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "search": {
                                      "nullable": false,
                                      "title": "String",
                                      "type": "string"
                                    }
                                  },
                                  "title": "locations",
                                  "type": "object"
                                },
                                "value": {
                                  "nullable": true,
                                  "title": "String",
                                  "type": "string"
                                }
                              },
                              "title": "projects_fieldsvalues",
                              "type": "object"
                            },
                            "nullable": false,
                            "type": "array"
                          },
                          "files": {
                            "items": {
                              "description": "columns and relationships of \"projects_files\"",
                              "nullable": false,
                              "properties": {
                                "createdAt": {
                                  "$ref": "#/components/schemas/timestamptz!"
                                },
                                "file": {
                                  "description": "columns and relationships of \"storage.files\"",
                                  "nullable": false,
                                  "properties": {
                                    "id": {
                                      "$ref": "#/components/schemas/uuid!"
                                    },
                                    "mimeType": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "name": {
                                      "nullable": true,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "size": {
                                      "nullable": true,
                                      "title": "Int",
                                      "type": "integer"
                                    }
                                  },
                                  "title": "files",
                                  "type": "object"
                                },
                                "fileId": {
                                  "$ref": "#/components/schemas/uuid!"
                                },
                                "updatedAt": {
                                  "$ref": "#/components/schemas/timestamptz!"
                                }
                              },
                              "title": "projects_files",
                              "type": "object"
                            },
                            "nullable": false,
                            "type": "array"
                          },
                          "group": {
                            "description": "columns and relationships of \"groups\"",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "$ref": "#/components/schemas/uuid!"
                              },
                              "name": {
                                "nullable": false,
                                "title": "String",
                                "type": "string"
                              }
                            },
                            "title": "groups",
                            "type": "object"
                          },
                          "groupId": {
                            "$ref": "#/components/schemas/uuid"
                          },
                          "id": {
                            "$ref": "#/components/schemas/uuid!"
                          },
                          "ignoreHistoryBeforeProjectCreatedAt": {
                            "nullable": false,
                            "title": "Boolean",
                            "type": "boolean"
                          },
                          "isMadeForRecruitment": {
                            "nullable": false,
                            "title": "Boolean",
                            "type": "boolean"
                          },
                          "isMadeForSales": {
                            "nullable": false,
                            "title": "Boolean",
                            "type": "boolean"
                          },
                          "jobBoardsOffers": {
                            "items": {
                              "description": "A job offer on a job board, created by a user",
                              "nullable": false,
                              "properties": {
                                "id": {
                                  "$ref": "#/components/schemas/uuid!"
                                }
                              },
                              "title": "jobboards_offers",
                              "type": "object"
                            },
                            "nullable": false,
                            "type": "array"
                          },
                          "linkedinContractId": {
                            "nullable": true,
                            "title": "Int",
                            "type": "integer"
                          },
                          "linkedinId": {
                            "nullable": true,
                            "title": "String",
                            "type": "string"
                          },
                          "linkedinIdType": {
                            "$ref": "#/components/schemas/projects_linkedin_id_types_enum"
                          },
                          "name": {
                            "nullable": false,
                            "title": "String",
                            "type": "string"
                          },
                          "presetId": {
                            "$ref": "#/components/schemas/uuid!"
                          },
                          "profilesCountPerStatusGroup": {
                            "items": {
                              "description": "columns and relationships of \"projects_statuses_count_view\"",
                              "nullable": false,
                              "properties": {
                                "count": {
                                  "$ref": "#/components/schemas/bigint"
                                },
                                "status": {
                                  "description": "columns and relationships of \"statuses\"",
                                  "nullable": true,
                                  "properties": {
                                    "color": {
                                      "description": "columns and relationships of \"colors\"",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "nullable": false,
                                          "title": "String",
                                          "type": "string"
                                        },
                                        "name": {
                                          "nullable": true,
                                          "title": "String",
                                          "type": "string"
                                        }
                                      },
                                      "title": "colors",
                                      "type": "object"
                                    },
                                    "id": {
                                      "$ref": "#/components/schemas/uuid!"
                                    },
                                    "isAuto": {
                                      "nullable": false,
                                      "title": "Boolean",
                                      "type": "boolean"
                                    },
                                    "isHidden": {
                                      "nullable": false,
                                      "title": "Boolean",
                                      "type": "boolean"
                                    },
                                    "order": {
                                      "$ref": "#/components/schemas/numeric!"
                                    },
                                    "parentId": {
                                      "$ref": "#/components/schemas/uuid"
                                    },
                                    "title": {
                                      "nullable": false,
                                      "title": "String",
                                      "type": "string"
                                    }
                                  },
                                  "title": "statuses",
                                  "type": "object"
                                }
                              },
                              "title": "projects_statuses_count_view",
                              "type": "object"
                            },
                            "nullable": false,
                            "type": "array"
                          },
                          "projectJobBoards": {
                            "items": {
                              "description": "columns and relationships of \"projects_jobboards\"",
                              "nullable": false,
                              "properties": {
                                "createdAt": {
                                  "$ref": "#/components/schemas/timestamptz!"
                                },
                                "deletedAt": {
                                  "$ref": "#/components/schemas/timestamptz"
                                },
                                "enabledAt": {
                                  "$ref": "#/components/schemas/timestamptz"
                                },
                                "id": {
                                  "$ref": "#/components/schemas/uuid!"
                                },
                                "jobBoard": {
                                  "description": "A job board is a website where you can publish job offers",
                                  "nullable": false,
                                  "properties": {
                                    "canonicalName": {
                                      "nullable": false,
                                      "title": "String",
                                      "type": "string"
                                    },
                                    "id": {
                                      "$ref": "#/components/schemas/uuid!"
                                    }
                                  },
                                  "title": "jobboards",
                                  "type": "object"
                                },
                                "projectId": {
                                  "$ref": "#/components/schemas/uuid!"
                                },
                                "updatedAt": {
                                  "$ref": "#/components/schemas/timestamptz!"
                                }
                              },
                              "title": "projects_jobboards",
                              "type": "object"
                            },
                            "nullable": false,
                            "type": "array"
                          },
                          "referenceId": {
                            "nullable": true,
                            "title": "String",
                            "type": "string"
                          },
                          "status": {
                            "description": "columns and relationships of \"statuses\"",
                            "nullable": true,
                            "properties": {
                              "color": {
                                "description": "columns and relationships of \"colors\"",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "nullable": false,
                                    "title": "String",
                                    "type": "string"
                                  },
                                  "name": {
                                    "nullable": true,
                                    "title": "String",
                                    "type": "string"
                                  }
                                },
                                "title": "colors",
                                "type": "object"
                              },
                              "id": {
                                "$ref": "#/components/schemas/uuid!"
                              },
                              "isAuto": {
                                "nullable": false,
                                "title": "Boolean",
                                "type": "boolean"
                              },
                              "title": {
                                "nullable": false,
                                "title": "String",
                                "type": "string"
                              }
                            },
                            "title": "statuses",
                            "type": "object"
                          },
                          "statusId": {
                            "$ref": "#/components/schemas/uuid"
                          },
                          "updatedAt": {
                            "$ref": "#/components/schemas/timestamptz!"
                          },
                          "user": {
                            "description": "User account information. Don't modify its structure as Hasura Auth relies on it to function properly.",
                            "nullable": true,
                            "properties": {
                              "disabled": {
                                "nullable": false,
                                "title": "Boolean",
                                "type": "boolean"
                              },
                              "displayName": {
                                "nullable": false,
                                "title": "String",
                                "type": "string"
                              },
                              "email": {
                                "$ref": "#/components/schemas/citext"
                              },
                              "id": {
                                "$ref": "#/components/schemas/uuid!"
                              }
                            },
                            "title": "users",
                            "type": "object"
                          },
                          "userId": {
                            "$ref": "#/components/schemas/uuid"
                          }
                        },
                        "title": "projects",
                        "type": "object"
                      },
                      "nullable": false,
                      "type": "array"
                    }
                  }
                }
              }
            },
            "description": "Responses for GET /api/rest/projects"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "uuid!": {
        "nullable": false,
        "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}",
        "title": "uuid",
        "type": "string"
      },
      "uuid": {
        "nullable": true,
        "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}",
        "title": "uuid",
        "type": "string"
      },
      "uuid_comparison_exp": {
        "description": "Boolean expression to compare columns of type \"uuid\". All fields are combined with logical 'AND'.",
        "nullable": true,
        "properties": {
          "_eq": {
            "$ref": "#/components/schemas/uuid"
          },
          "_gt": {
            "$ref": "#/components/schemas/uuid"
          },
          "_gte": {
            "$ref": "#/components/schemas/uuid"
          },
          "_in": {
            "items": {
              "$ref": "#/components/schemas/uuid!"
            },
            "nullable": true,
            "type": "array"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lt": {
            "$ref": "#/components/schemas/uuid"
          },
          "_lte": {
            "$ref": "#/components/schemas/uuid"
          },
          "_neq": {
            "$ref": "#/components/schemas/uuid"
          },
          "_nin": {
            "items": {
              "$ref": "#/components/schemas/uuid!"
            },
            "nullable": true,
            "type": "array"
          }
        },
        "title": "uuid_comparison_exp",
        "type": "object"
      },
      "timestamptz!": {
        "nullable": false,
        "title": "timestamptz"
      },
      "timestamptz": {
        "nullable": true,
        "title": "timestamptz"
      },
      "timestamptz_comparison_exp": {
        "description": "Boolean expression to compare columns of type \"timestamptz\". All fields are combined with logical 'AND'.",
        "nullable": true,
        "properties": {
          "_eq": {
            "$ref": "#/components/schemas/timestamptz"
          },
          "_gt": {
            "$ref": "#/components/schemas/timestamptz"
          },
          "_gte": {
            "$ref": "#/components/schemas/timestamptz"
          },
          "_in": {
            "items": {
              "$ref": "#/components/schemas/timestamptz!"
            },
            "nullable": true,
            "type": "array"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lt": {
            "$ref": "#/components/schemas/timestamptz"
          },
          "_lte": {
            "$ref": "#/components/schemas/timestamptz"
          },
          "_neq": {
            "$ref": "#/components/schemas/timestamptz"
          },
          "_nin": {
            "items": {
              "$ref": "#/components/schemas/timestamptz!"
            },
            "nullable": true,
            "type": "array"
          }
        },
        "title": "timestamptz_comparison_exp",
        "type": "object"
      },
      "jsonb!": {
        "nullable": false,
        "title": "jsonb"
      },
      "jsonb": {
        "nullable": true,
        "title": "jsonb"
      },
      "String_comparison_exp": {
        "description": "Boolean expression to compare columns of type \"String\". All fields are combined with logical 'AND'.",
        "nullable": true,
        "properties": {
          "_eq": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_gt": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_gte": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_ilike": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_in": {
            "items": {
              "nullable": false,
              "title": "String",
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "_iregex": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_like": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_lt": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_lte": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_neq": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_nilike": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_nin": {
            "items": {
              "nullable": false,
              "title": "String",
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "_niregex": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_nlike": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_nregex": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_nsimilar": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_regex": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_similar": {
            "nullable": true,
            "title": "String",
            "type": "string"
          }
        },
        "title": "String_comparison_exp",
        "type": "object"
      },
      "jsonb_cast_exp": {
        "nullable": true,
        "properties": {
          "String": {
            "$ref": "#/components/schemas/String_comparison_exp"
          }
        },
        "title": "jsonb_cast_exp",
        "type": "object"
      },
      "jsonb_comparison_exp": {
        "description": "Boolean expression to compare columns of type \"jsonb\". All fields are combined with logical 'AND'.",
        "nullable": true,
        "properties": {
          "_cast": {
            "$ref": "#/components/schemas/jsonb_cast_exp"
          },
          "_contained_in": {
            "$ref": "#/components/schemas/jsonb"
          },
          "_contains": {
            "$ref": "#/components/schemas/jsonb"
          },
          "_eq": {
            "$ref": "#/components/schemas/jsonb"
          },
          "_gt": {
            "$ref": "#/components/schemas/jsonb"
          },
          "_gte": {
            "$ref": "#/components/schemas/jsonb"
          },
          "_has_key": {
            "nullable": true,
            "title": "String",
            "type": "string"
          },
          "_has_keys_all": {
            "items": {
              "nullable": false,
              "title": "String",
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "_has_keys_any": {
            "items": {
              "nullable": false,
              "title": "String",
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "_in": {
            "items": {
              "$ref": "#/components/schemas/jsonb!"
            },
            "nullable": true,
            "type": "array"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lt": {
            "$ref": "#/components/schemas/jsonb"
          },
          "_lte": {
            "$ref": "#/components/schemas/jsonb"
          },
          "_neq": {
            "$ref": "#/components/schemas/jsonb"
          },
          "_nin": {
            "items": {
              "$ref": "#/components/schemas/jsonb!"
            },
            "nullable": true,
            "type": "array"
          }
        },
        "title": "jsonb_comparison_exp",
        "type": "object"
      },
      "Boolean_comparison_exp": {
        "description": "Boolean expression to compare columns of type \"Boolean\". All fields are combined with logical 'AND'.",
        "nullable": true,
        "properties": {
          "_eq": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_gt": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_gte": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_in": {
            "items": {
              "nullable": false,
              "title": "Boolean",
              "type": "boolean"
            },
            "nullable": true,
            "type": "array"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lt": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lte": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_neq": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_nin": {
            "items": {
              "nullable": false,
              "title": "Boolean",
              "type": "boolean"
            },
            "nullable": true,
            "type": "array"
          }
        },
        "title": "Boolean_comparison_exp",
        "type": "object"
      },
      "groups_customization_settings_bool_exp!": {
        "description": "Boolean expression to filter rows from the table \"groups_customization_settings\". All fields are combined with a logical 'AND'.",
        "nullable": false,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/groups_customization_settings_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/groups_customization_settings_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/groups_customization_settings_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "allowMultipleEmailAccounts": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableAPI": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableCompaniesManagement": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableJobBoardsBroadcasting": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableTeamManagement": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableWhatsappTelegram": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "id": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "logoFileId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "primaryColor": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "toggleInmailsSendHack": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "translations": {
            "$ref": "#/components/schemas/jsonb_comparison_exp"
          }
        },
        "title": "groups_customization_settings_bool_exp",
        "type": "object"
      },
      "groups_customization_settings_bool_exp": {
        "description": "Boolean expression to filter rows from the table \"groups_customization_settings\". All fields are combined with a logical 'AND'.",
        "nullable": true,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/groups_customization_settings_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/groups_customization_settings_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/groups_customization_settings_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "allowMultipleEmailAccounts": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableAPI": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableCompaniesManagement": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableJobBoardsBroadcasting": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableTeamManagement": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "enableWhatsappTelegram": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "id": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "logoFileId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "primaryColor": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "toggleInmailsSendHack": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "translations": {
            "$ref": "#/components/schemas/jsonb_comparison_exp"
          }
        },
        "title": "groups_customization_settings_bool_exp",
        "type": "object"
      },
      "Int_comparison_exp": {
        "description": "Boolean expression to compare columns of type \"Int\". All fields are combined with logical 'AND'.",
        "nullable": true,
        "properties": {
          "_eq": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_gt": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_gte": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_in": {
            "items": {
              "nullable": false,
              "title": "Int",
              "type": "integer"
            },
            "nullable": true,
            "type": "array"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lt": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_lte": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_neq": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_nin": {
            "items": {
              "nullable": false,
              "title": "Int",
              "type": "integer"
            },
            "nullable": true,
            "type": "array"
          }
        },
        "title": "Int_comparison_exp",
        "type": "object"
      },
      "numeric!": {
        "nullable": false,
        "title": "numeric"
      },
      "numeric": {
        "nullable": true,
        "title": "numeric"
      },
      "numeric_comparison_exp": {
        "description": "Boolean expression to compare columns of type \"numeric\". All fields are combined with logical 'AND'.",
        "nullable": true,
        "properties": {
          "_eq": {
            "$ref": "#/components/schemas/numeric"
          },
          "_gt": {
            "$ref": "#/components/schemas/numeric"
          },
          "_gte": {
            "$ref": "#/components/schemas/numeric"
          },
          "_in": {
            "items": {
              "$ref": "#/components/schemas/numeric!"
            },
            "nullable": true,
            "type": "array"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lt": {
            "$ref": "#/components/schemas/numeric"
          },
          "_lte": {
            "$ref": "#/components/schemas/numeric"
          },
          "_neq": {
            "$ref": "#/components/schemas/numeric"
          },
          "_nin": {
            "items": {
              "$ref": "#/components/schemas/numeric!"
            },
            "nullable": true,
            "type": "array"
          }
        },
        "title": "numeric_comparison_exp",
        "type": "object"
      },
      "tasks_select_column!": {
        "description": "select columns of table \"tasks\"",
        "enum": [
          "createdAt",
          "deletedAt",
          "doneAt",
          "duration",
          "emailAddress",
          "externalId",
          "fileId",
          "groupId",
          "historyEntryId",
          "id",
          "linkedinSeatId",
          "messageScheduledId",
          "oAuthAccountId",
          "parameters",
          "phoneNumberProviderId",
          "priority",
          "profileId",
          "projectId",
          "retries",
          "return",
          "returnStatusCode",
          "since",
          "status",
          "type",
          "updatedAt",
          "userId",
          "userIdOrGroupId",
          "version"
        ],
        "nullable": false,
        "title": "tasks_select_column"
      },
      "Int_comparison_exp!": {
        "description": "Boolean expression to compare columns of type \"Int\". All fields are combined with logical 'AND'.",
        "nullable": false,
        "properties": {
          "_eq": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_gt": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_gte": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_in": {
            "items": {
              "nullable": false,
              "title": "Int",
              "type": "integer"
            },
            "nullable": true,
            "type": "array"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lt": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_lte": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_neq": {
            "nullable": true,
            "title": "Int",
            "type": "integer"
          },
          "_nin": {
            "items": {
              "nullable": false,
              "title": "Int",
              "type": "integer"
            },
            "nullable": true,
            "type": "array"
          }
        },
        "title": "Int_comparison_exp",
        "type": "object"
      },
      "tasks_aggregate_bool_exp_count": {
        "nullable": true,
        "properties": {
          "arguments": {
            "items": {
              "$ref": "#/components/schemas/tasks_select_column!"
            },
            "nullable": true,
            "type": "array"
          },
          "distinct": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "filter": {
            "$ref": "#/components/schemas/tasks_bool_exp"
          },
          "predicate": {
            "$ref": "#/components/schemas/Int_comparison_exp!"
          }
        },
        "title": "tasks_aggregate_bool_exp_count",
        "type": "object"
      },
      "tasks_aggregate_bool_exp": {
        "nullable": true,
        "properties": {
          "count": {
            "$ref": "#/components/schemas/tasks_aggregate_bool_exp_count"
          }
        },
        "title": "tasks_aggregate_bool_exp",
        "type": "object"
      },
      "json!": {
        "nullable": false,
        "title": "json"
      },
      "json": {
        "nullable": true,
        "title": "json"
      },
      "json_comparison_exp": {
        "description": "Boolean expression to compare columns of type \"json\". All fields are combined with logical 'AND'.",
        "nullable": true,
        "properties": {
          "_eq": {
            "$ref": "#/components/schemas/json"
          },
          "_gt": {
            "$ref": "#/components/schemas/json"
          },
          "_gte": {
            "$ref": "#/components/schemas/json"
          },
          "_in": {
            "items": {
              "$ref": "#/components/schemas/json!"
            },
            "nullable": true,
            "type": "array"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lt": {
            "$ref": "#/components/schemas/json"
          },
          "_lte": {
            "$ref": "#/components/schemas/json"
          },
          "_neq": {
            "$ref": "#/components/schemas/json"
          },
          "_nin": {
            "items": {
              "$ref": "#/components/schemas/json!"
            },
            "nullable": true,
            "type": "array"
          }
        },
        "title": "json_comparison_exp",
        "type": "object"
      },
      "users_states_bool_exp!": {
        "description": "Boolean expression to filter rows from the table \"users_states\". All fields are combined with a logical 'AND'.",
        "nullable": false,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/users_states_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/users_states_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/users_states_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "connectedLinkedinProfile": {
            "$ref": "#/components/schemas/jsonb_comparison_exp"
          },
          "currentLinkedinRecruiterSeatId": {
            "$ref": "#/components/schemas/Int_comparison_exp"
          },
          "currentLinkedinSalesNavigatorSeatId": {
            "$ref": "#/components/schemas/Int_comparison_exp"
          },
          "extensionIsConnected": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsConnectedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionIsConnectedToLinkedin": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsConnectedToLinkedinAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionIsConnectedToLinkedinRecruiter": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsConnectedToLinkedinRecruiterAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionIsConnectedToLinkedinSalesNavigator": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsConnectedToLinkedinSalesNavigatorAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionIsHandlingTasks": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsHandlingTasksAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionVersion": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "hasALinkedinRecruiterAccount": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "hasALinkedinSalesNavigatorAccount": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "jarviQuotasReached": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "jarviQuotasReachedList": {
            "$ref": "#/components/schemas/json_comparison_exp"
          },
          "linkedinInmailCreditsAreEmpty": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "linkedinInmailsCreditsEmptyAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "linkedinInmailsOpenProfilesLimitReachedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "linkedinInvitationsSentQuotaReached": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "linkedinInvitationsSentQuotaReachedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "linkedinOpenProfilesLimitReached": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "pwaIsOpened": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "pwaIsOpenedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "user": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "userId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          }
        },
        "title": "users_states_bool_exp",
        "type": "object"
      },
      "users_states_bool_exp": {
        "description": "Boolean expression to filter rows from the table \"users_states\". All fields are combined with a logical 'AND'.",
        "nullable": true,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/users_states_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/users_states_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/users_states_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "connectedLinkedinProfile": {
            "$ref": "#/components/schemas/jsonb_comparison_exp"
          },
          "currentLinkedinRecruiterSeatId": {
            "$ref": "#/components/schemas/Int_comparison_exp"
          },
          "currentLinkedinSalesNavigatorSeatId": {
            "$ref": "#/components/schemas/Int_comparison_exp"
          },
          "extensionIsConnected": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsConnectedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionIsConnectedToLinkedin": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsConnectedToLinkedinAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionIsConnectedToLinkedinRecruiter": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsConnectedToLinkedinRecruiterAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionIsConnectedToLinkedinSalesNavigator": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsConnectedToLinkedinSalesNavigatorAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionIsHandlingTasks": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "extensionIsHandlingTasksAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "extensionVersion": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "hasALinkedinRecruiterAccount": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "hasALinkedinSalesNavigatorAccount": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "jarviQuotasReached": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "jarviQuotasReachedList": {
            "$ref": "#/components/schemas/json_comparison_exp"
          },
          "linkedinInmailCreditsAreEmpty": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "linkedinInmailsCreditsEmptyAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "linkedinInmailsOpenProfilesLimitReachedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "linkedinInvitationsSentQuotaReached": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "linkedinInvitationsSentQuotaReachedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "linkedinOpenProfilesLimitReached": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "pwaIsOpened": {
            "$ref": "#/components/schemas/Boolean_comparison_exp"
          },
          "pwaIsOpenedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "user": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "userId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          }
        },
        "title": "users_states_bool_exp",
        "type": "object"
      },
      "citext!": {
        "nullable": false,
        "title": "citext"
      },
      "citext": {
        "nullable": true,
        "title": "citext"
      },
      "citext_comparison_exp": {
        "description": "Boolean expression to compare columns of type \"citext\". All fields are combined with logical 'AND'.",
        "nullable": true,
        "properties": {
          "_eq": {
            "$ref": "#/components/schemas/citext"
          },
          "_gt": {
            "$ref": "#/components/schemas/citext"
          },
          "_gte": {
            "$ref": "#/components/schemas/citext"
          },
          "_ilike": {
            "$ref": "#/components/schemas/citext"
          },
          "_in": {
            "items": {
              "$ref": "#/components/schemas/citext!"
            },
            "nullable": true,
            "type": "array"
          },
          "_iregex": {
            "$ref": "#/components/schemas/citext"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_like": {
            "$ref": "#/components/schemas/citext"
          },
          "_lt": {
            "$ref": "#/components/schemas/citext"
          },
          "_lte": {
            "$ref": "#/components/schemas/citext"
          },
          "_neq": {
            "$ref": "#/components/schemas/citext"
          },
          "_nilike": {
            "$ref": "#/components/schemas/citext"
          },
          "_nin": {
            "items": {
              "$ref": "#/components/schemas/citext!"
            },
            "nullable": true,
            "type": "array"
          },
          "_niregex": {
            "$ref": "#/components/schemas/citext"
          },
          "_nlike": {
            "$ref": "#/components/schemas/citext"
          },
          "_nregex": {
            "$ref": "#/components/schemas/citext"
          },
          "_nsimilar": {
            "$ref": "#/components/schemas/citext"
          },
          "_regex": {
            "$ref": "#/components/schemas/citext"
          },
          "_similar": {
            "$ref": "#/components/schemas/citext"
          }
        },
        "title": "citext_comparison_exp",
        "type": "object"
      },
      "users_variables_select_column!": {
        "description": "select columns of table \"users_variables\"",
        "enum": [
          "createdAt",
          "deletedAt",
          "groupVariableNameId",
          "htmlContent",
          "id",
          "textContent",
          "updatedAt",
          "userId"
        ],
        "nullable": false,
        "title": "users_variables_select_column"
      },
      "users_variables_aggregate_bool_exp_count": {
        "nullable": true,
        "properties": {
          "arguments": {
            "items": {
              "$ref": "#/components/schemas/users_variables_select_column!"
            },
            "nullable": true,
            "type": "array"
          },
          "distinct": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "filter": {
            "$ref": "#/components/schemas/users_variables_bool_exp"
          },
          "predicate": {
            "$ref": "#/components/schemas/Int_comparison_exp!"
          }
        },
        "title": "users_variables_aggregate_bool_exp_count",
        "type": "object"
      },
      "users_variables_aggregate_bool_exp": {
        "nullable": true,
        "properties": {
          "count": {
            "$ref": "#/components/schemas/users_variables_aggregate_bool_exp_count"
          }
        },
        "title": "users_variables_aggregate_bool_exp",
        "type": "object"
      },
      "groups_variables_names_bool_exp!": {
        "description": "Boolean expression to filter rows from the table \"groups_variables_names\". All fields are combined with a logical 'AND'.",
        "nullable": false,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/groups_variables_names_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/groups_variables_names_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/groups_variables_names_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "createdAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "deletedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "groupId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "id": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "name": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "usersVariables": {
            "$ref": "#/components/schemas/users_variables_bool_exp"
          },
          "usersVariables_aggregate": {
            "$ref": "#/components/schemas/users_variables_aggregate_bool_exp"
          }
        },
        "title": "groups_variables_names_bool_exp",
        "type": "object"
      },
      "groups_variables_names_bool_exp": {
        "description": "Boolean expression to filter rows from the table \"groups_variables_names\". All fields are combined with a logical 'AND'.",
        "nullable": true,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/groups_variables_names_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/groups_variables_names_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/groups_variables_names_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "createdAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "deletedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "groupId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "id": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "name": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "usersVariables": {
            "$ref": "#/components/schemas/users_variables_bool_exp"
          },
          "usersVariables_aggregate": {
            "$ref": "#/components/schemas/users_variables_aggregate_bool_exp"
          }
        },
        "title": "groups_variables_names_bool_exp",
        "type": "object"
      },
      "users_variables_bool_exp!": {
        "description": "Boolean expression to filter rows from the table \"users_variables\". All fields are combined with a logical 'AND'.",
        "nullable": false,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/users_variables_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/users_variables_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/users_variables_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "createdAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "deletedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "groupVariableName": {
            "$ref": "#/components/schemas/groups_variables_names_bool_exp"
          },
          "groupVariableNameId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "htmlContent": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "id": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "textContent": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "user": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "userId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          }
        },
        "title": "users_variables_bool_exp",
        "type": "object"
      },
      "users_variables_bool_exp": {
        "description": "Boolean expression to filter rows from the table \"users_variables\". All fields are combined with a logical 'AND'.",
        "nullable": true,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/users_variables_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/users_variables_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/users_variables_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "createdAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "deletedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "groupVariableName": {
            "$ref": "#/components/schemas/groups_variables_names_bool_exp"
          },
          "groupVariableNameId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "htmlContent": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "id": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "textContent": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "user": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "userId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          }
        },
        "title": "users_variables_bool_exp",
        "type": "object"
      },
      "authUserRoles_bool_exp!": {
        "description": "Boolean expression to filter rows from the table \"auth.user_roles\". All fields are combined with a logical 'AND'.",
        "nullable": false,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/authUserRoles_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/authUserRoles_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/authUserRoles_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "createdAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "id": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "role": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "roleByRole": {
            "$ref": "#/components/schemas/authRoles_bool_exp"
          },
          "user": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "userId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          }
        },
        "title": "authUserRoles_bool_exp",
        "type": "object"
      },
      "authUserRoles_bool_exp": {
        "description": "Boolean expression to filter rows from the table \"auth.user_roles\". All fields are combined with a logical 'AND'.",
        "nullable": true,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/authUserRoles_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/authUserRoles_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/authUserRoles_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "createdAt": {
            "$ref": "#/components/schemas/timestamptz_comparison_exp"
          },
          "id": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          },
          "role": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "roleByRole": {
            "$ref": "#/components/schemas/authRoles_bool_exp"
          },
          "user": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "userId": {
            "$ref": "#/components/schemas/uuid_comparison_exp"
          }
        },
        "title": "authUserRoles_bool_exp",
        "type": "object"
      },
      "authUserRoles_select_column!": {
        "description": "select columns of table \"auth.user_roles\"",
        "enum": ["createdAt", "id", "role", "userId"],
        "nullable": false,
        "title": "authUserRoles_select_column"
      },
      "authUserRoles_aggregate_bool_exp_count": {
        "nullable": true,
        "properties": {
          "arguments": {
            "items": {
              "$ref": "#/components/schemas/authUserRoles_select_column!"
            },
            "nullable": true,
            "type": "array"
          },
          "distinct": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "filter": {
            "$ref": "#/components/schemas/authUserRoles_bool_exp"
          },
          "predicate": {
            "$ref": "#/components/schemas/Int_comparison_exp!"
          }
        },
        "title": "authUserRoles_aggregate_bool_exp_count",
        "type": "object"
      },
      "authUserRoles_aggregate_bool_exp": {
        "nullable": true,
        "properties": {
          "count": {
            "$ref": "#/components/schemas/authUserRoles_aggregate_bool_exp_count"
          }
        },
        "title": "authUserRoles_aggregate_bool_exp",
        "type": "object"
      },
      "users_select_column_users_aggregate_bool_exp_bool_and_arguments_columns!": {
        "description": "select \"users_aggregate_bool_exp_bool_and_arguments_columns\" columns of table \"auth.users\"",
        "enum": ["disabled", "emailVerified", "isAnonymous", "phoneNumberVerified"],
        "nullable": false,
        "title": "users_select_column_users_aggregate_bool_exp_bool_and_arguments_columns"
      },
      "Boolean_comparison_exp!": {
        "description": "Boolean expression to compare columns of type \"Boolean\". All fields are combined with logical 'AND'.",
        "nullable": false,
        "properties": {
          "_eq": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_gt": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_gte": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_in": {
            "items": {
              "nullable": false,
              "title": "Boolean",
              "type": "boolean"
            },
            "nullable": true,
            "type": "array"
          },
          "_is_null": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lt": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_lte": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_neq": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "_nin": {
            "items": {
              "nullable": false,
              "title": "Boolean",
              "type": "boolean"
            },
            "nullable": true,
            "type": "array"
          }
        },
        "title": "Boolean_comparison_exp",
        "type": "object"
      },
      "users_aggregate_bool_exp_bool_and": {
        "nullable": true,
        "properties": {
          "arguments": {
            "$ref": "#/components/schemas/users_select_column_users_aggregate_bool_exp_bool_and_arguments_columns!"
          },
          "distinct": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "filter": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "predicate": {
            "$ref": "#/components/schemas/Boolean_comparison_exp!"
          }
        },
        "title": "users_aggregate_bool_exp_bool_and",
        "type": "object"
      },
      "users_select_column_users_aggregate_bool_exp_bool_or_arguments_columns!": {
        "description": "select \"users_aggregate_bool_exp_bool_or_arguments_columns\" columns of table \"auth.users\"",
        "enum": ["disabled", "emailVerified", "isAnonymous", "phoneNumberVerified"],
        "nullable": false,
        "title": "users_select_column_users_aggregate_bool_exp_bool_or_arguments_columns"
      },
      "users_aggregate_bool_exp_bool_or": {
        "nullable": true,
        "properties": {
          "arguments": {
            "$ref": "#/components/schemas/users_select_column_users_aggregate_bool_exp_bool_or_arguments_columns!"
          },
          "distinct": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "filter": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "predicate": {
            "$ref": "#/components/schemas/Boolean_comparison_exp!"
          }
        },
        "title": "users_aggregate_bool_exp_bool_or",
        "type": "object"
      },
      "users_select_column!": {
        "description": "select columns of table \"auth.users\"",
        "enum": [
          "activeMfaType",
          "avatarUrl",
          "createdAt",
          "currentChallenge",
          "defaultRole",
          "disabled",
          "displayName",
          "email",
          "emailVerified",
          "id",
          "isAnonymous",
          "lastSeen",
          "locale",
          "metadata",
          "newEmail",
          "otpHash",
          "otpHashExpiresAt",
          "otpMethodLastUsed",
          "passwordHash",
          "phoneNumber",
          "phoneNumberVerified",
          "ticket",
          "ticketExpiresAt",
          "totpSecret",
          "updatedAt"
        ],
        "nullable": false,
        "title": "users_select_column"
      },
      "users_aggregate_bool_exp_count": {
        "nullable": true,
        "properties": {
          "arguments": {
            "items": {
              "$ref": "#/components/schemas/users_select_column!"
            },
            "nullable": true,
            "type": "array"
          },
          "distinct": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "filter": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "predicate": {
            "$ref": "#/components/schemas/Int_comparison_exp!"
          }
        },
        "title": "users_aggregate_bool_exp_count",
        "type": "object"
      },
      "users_aggregate_bool_exp": {
        "nullable": true,
        "properties": {
          "bool_and": {
            "$ref": "#/components/schemas/users_aggregate_bool_exp_bool_and"
          },
          "bool_or": {
            "$ref": "#/components/schemas/users_aggregate_bool_exp_bool_or"
          },
          "count": {
            "$ref": "#/components/schemas/users_aggregate_bool_exp_count"
          }
        },
        "title": "users_aggregate_bool_exp",
        "type": "object"
      },
      "authRoles_bool_exp!": {
        "description": "Boolean expression to filter rows from the table \"auth.roles\". All fields are combined with a logical 'AND'.",
        "nullable": false,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/authRoles_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/authRoles_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/authRoles_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "role": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "userRoles": {
            "$ref": "#/components/schemas/authUserRoles_bool_exp"
          },
          "userRoles_aggregate": {
            "$ref": "#/components/schemas/authUserRoles_aggregate_bool_exp"
          },
          "usersByDefaultRole": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "usersByDefaultRole_aggregate": {
            "$ref": "#/components/schemas/users_aggregate_bool_exp"
          }
        },
        "title": "authRoles_bool_exp",
        "type": "object"
      },
      "authRoles_bool_exp": {
        "description": "Boolean expression to filter rows from the table \"auth.roles\". All fields are combined with a logical 'AND'.",
        "nullable": true,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/authRoles_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/authRoles_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/authRoles_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "role": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "userRoles": {
            "$ref": "#/components/schemas/authUserRoles_bool_exp"
          },
          "userRoles_aggregate": {
            "$ref": "#/components/schemas/authUserRoles_aggregate_bool_exp"
          },
          "usersByDefaultRole": {
            "$ref": "#/components/schemas/users_bool_exp"
          },
          "usersByDefaultRole_aggregate": {
            "$ref": "#/components/schemas/users_aggregate_bool_exp"
          }
        },
        "title": "authRoles_bool_exp",
        "type": "object"
      },
      "authUserProviders_select_column!": {
        "description": "select columns of table \"auth.user_providers\"",
        "enum": [
          "accessToken",
          "createdAt",
          "id",
          "providerId",
          "providerUserId",
          "refreshToken",
          "updatedAt",
          "userId"
        ],
        "nullable": false,
        "title": "authUserProviders_select_column"
      },
      "authUserProviders_aggregate_bool_exp_count": {
        "nullable": true,
        "properties": {
          "arguments": {
            "items": {
              "$ref": "#/components/schemas/authUserProviders_select_column!"
            },
            "nullable": true,
            "type": "array"
          },
          "distinct": {
            "nullable": true,
            "title": "Boolean",
            "type": "boolean"
          },
          "filter": {
            "$ref": "#/components/schemas/authUserProviders_bool_exp"
          },
          "predicate": {
            "$ref": "#/components/schemas/Int_comparison_exp!"
          }
        },
        "title": "authUserProviders_aggregate_bool_exp_count",
        "type": "object"
      },
      "authUserProviders_aggregate_bool_exp": {
        "nullable": true,
        "properties": {
          "count": {
            "$ref": "#/components/schemas/authUserProviders_aggregate_bool_exp_count"
          }
        },
        "title": "authUserProviders_aggregate_bool_exp",
        "type": "object"
      },
      "authProviders_bool_exp!": {
        "description": "Boolean expression to filter rows from the table \"auth.providers\". All fields are combined with a logical 'AND'.",
        "nullable": false,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/authProviders_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/authProviders_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/authProviders_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "id": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "userProviders": {
            "$ref": "#/components/schemas/authUserProviders_bool_exp"
          },
          "userProviders_aggregate": {
            "$ref": "#/components/schemas/authUserProviders_aggregate_bool_exp"
          }
        },
        "title": "authProviders_bool_exp",
        "type": "object"
      },
      "authProviders_bool_exp": {
        "description": "Boolean expression to filter rows from the table \"auth.providers\". All fields are combined with a logical 'AND'.",
        "nullable": true,
        "properties": {
          "_and": {
            "items": {
              "$ref": "#/components/schemas/authProviders_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "_not": {
            "$ref": "#/components/schemas/authProviders_bool_exp"
          },
          "_or": {
            "items": {
              "$ref": "#/components/schemas/authProviders_bool_exp!"
            },
            "nullable": true,
            "type": "array"
          },
          "id": {
            "$ref": "#/components/schemas/String_comparison_exp"
          },
          "userProviders": {
            "$ref": "#/components/schemas/authUserProviders_bool_exp"
          },
          "userProviders_aggregate": {
            "$ref": "#/components/schemas/authUserProviders_aggregate_bool_exp"
          }
        },
        "title": "authProviders_bool_exp",
        "type": "object"
      },
      "authUserProviders_bool_exp!": {
[...]
